<div class="container">
	<h1 id="about-header"> About </h1>
	<div class="row">
		<div class="col-md-6 text-center">
			<h2 class="about-title"> The App </h2>
			<img class="about-photo" src="/images/background2.jpg">
			<p class="about-text">Pacific Ocean Playground is an educational game platform for young teenagers that celebrates the Pacific Ocean. Stephanie Nilles developed the web app as her final portfolio piece for General Assembly's Web Development Immersive course. Pacific Ocean Playground was built using MongoDB, Express, AngularJS, and Node.js. </p>
		</div>
		<div class="col-md-6 text-center">
			<h2 class="about-title"> The Creator </h2>
			<img class="about-photo" src="/images/Stephanie_photo.jpg">
			<p class="about-text">Stephanie Nilles is a Seattle-based full stack web developer with a strong background in multimedia marketing and film production. She enjoys both back and front-end web development and is passionate about producing high quality work. When Stephanie isn't coding, she hikes, take photos and does Taekwondo. For more of Stephanie's work, see her <a id="portfolio-link" target="_blank" href="http://stephaniejnilles.com/">personal website</a></p>
		</div>
	</div>
</div>