
<alerts></alerts>
<div class="overlay text-center"><h1 id='overlay-text'>Ocean Game</h1><br />
	<a href="/play"><button type="button" class="btn btn-default" id="play-btn">PLAY</button></a>
	<a href="/cardgame"><button type="button" class="btn btn-default" id="play-btn">PLAY GAME 2</button></a>
</div>
<div id="header-carousel" class='carousel slide' data-ride='carousel' data-interval='false'>
	<div class="row">
		<img id="background" src ="/images/background2.jpg">
	</div>
	<!-- play button that takes you to game - on another page! -->
	<!-- Wrapper for slides -->
	<div class="carousel-inner text-center">
		<div class="item active">
		</div>
	</div>
</div>
<!-- 	<input type="button" class="btn btn-primary" value="Check out weather in your area" ng-click="weather()"> 
	<input type="text" ng-model="api_data.input"> -->

		<!-- <div ng-show="showWeather">
			Your current weather is: 
			{{data}}
		</div> -->
<div id="About">
	<div class = "container">
		<h2 id="aboutTitle"> About the Ocean Game </h2>
		<p>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn. Fenrir Grayback horseless carriages ‘zis is a chance many would die for!</p>
	</div>
</div>
