<div id="login">
  <div class="modal-header">
    <h3 class="modal-title"><img id="image" src="/images/turtle.png">  Login</h3>
  </div>
  <div class="modal-body">
    <form ng-submit="login()">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="loginData.email" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="loginData.password" required>
      </div>
      <input type="submit" class="btn btn-default btn-auth" value="Login">
    </form>
  </div>
</div>