
<div class="modal-header">
  <h3 class="modal-title">Signup</h3>
</div>
<div class="modal-body">
  <form ng-submit="signup()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="signupData.firstName" required>
    </div>
    <div class="form-group">
      <label>User Name</label>
      <input type="text" class="form-control" ng-model="signupData.userName" required>
    </div>
    <div class="form-group">
      <label>Enter Email</label>
      <input type="text" class="form-control" ng-model="signupData.email" required>
    </div>
    <div class="form-group">
      <label>Choose Password</label>
      <input type="password" class="form-control" ng-model="signupData.password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" ng-model="signupData.passwordConfirmation" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Signup">
  </form>
</div>
