<h1> The Game </h1>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the QuizApp</p>
	<button id="startGame" ng-click="start()">Start the Game</button>
</div>

<div class="game-area" ng-show="inProgress">
	<div ng-show="!gameOver">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}" ng-model="value"  ng-change='newValue(value)'>
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
 
                <div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">That is correct!</span>
			<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
		</div>
	</div>
 
	<div ng-show="gameOver">
		<h2>game is over</h2>
		<button ng-click="reset()">Play again</button>
	</div>
 
	<div id="score">
		Score: {{score}}
	</div>
</div>
