/*Home Page*/

#background{
	max-width: 100%;
	height: auto;
}

.play-btn, #startGame {
  font-family: 'Rock Salt';
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background-color: #0003DC;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 0;
  border: 5px double white;
  max-width: 310px;
  min-height: 50px;
}

#overlay-text {
  font-family: "Permanent Marker";
  font-size: 60px;
  font-weight: 700;
  color: #0003DC;
  text-shadow: 2px 3px 8px #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

#startGame{
  margin-top: 50px;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}

#about-home{
  background-color: #0003DC;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

#aboutTitle-home{
  padding-bottom: 40px;
}

/*Navbar */
.navbar{
	margin: 0px;
	background-color: #0003DC;
	border: 0;
	border-radius: 0;
	min-height: 80px;
	text-align: center;

}

#second-dolphin{
  padding-left: 5px;
}

.navbar-brand{
  color: white !important;
  font-family: "Rock Salt";
  font-size: 16px;
  padding-top: 5px;
  padding-left: 40px;
}

.nav>li>a {
  color: white !important;
  padding-left: 50px;
  padding-top: 25px;
  font-size: 18px;
  font-family: "Rock Salt";
}

#image
{    
    height: 65px;
    width: auto;
}

/*Games*/

#knowledgeTitle, #question{
  margin-top: 60px;
  font-family: "Permanent Marker";
}


/*About Page*/

#about-page{
  padding-bottom: 30px;
}

#Stephanie-photo{
  max-height: 300px;
  max-width: 200px;
}

/*Profile Page */

.row{
  margin-top: 30px;
  margin-bottom: 20px;
}

#profile-header{
  font-family: "Permanent Marker";
  font-size: 60px;
  margin-top: 45px;
}

#save-button{
  float: right;
}

#email, #change-button{
  margin-bottom: 20px;
}

#change-button{
  margin-top: 20px;
}

/*Headers & Body */

h1, h2{
  font-family: "Rock Salt";
  text-align: center;
}

h3{
  font-family: "Special Elite";
  text-align: center;
  margin-bottom: 20px;
}

body{
  font-size: 18px;
  background-color: #2881E2;
  color: black;
  font-family: "Special Elite"
}



