/*Home Page*/

#background{
	max-width: 100%;
	height: auto;
  border: 0;
}

.semi-transparent-button {
  display: inline-block;
  font-size: 35px;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  max-width: 300px;
 /* background: #fff;  fallback color for old browsers */
  background: rgba(30, 52, 142, 0.5);
  border-radius: 8px;
  color: #fff;
  text-shadow: 2px 3px 8px #000;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border: 3px solid rgba(30, 52, 142, 0.5);
}

.semi-transparent-button:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}

 #startGame {
  font-family: 'Rock Salt';
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background-color: #0003DC;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 0;
  border: 5px double white;
  max-width: 310px;
  min-height: 50px;
}

#overlay-text {
  font-family: "Permanent Marker";
  font-size: 65px;
  font-weight: 700;
  color: #0003DC;
  text-shadow: 2px 3px 8px #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

#startGame{
  margin-top: 50px;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:1;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}

#about-home{
  background-color: #384C95;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

#aboutTitle-home{
  padding-bottom: 40px;
}

/*Navbar */
.auth-label{
  font-size: 18px !important;
}

#signup-label{
  font-size: 18px;
}

.navbar{
	margin: 0px;
	background-color: #0003DC;
	border: 0;
	border-radius: 0;
	min-height: 80px;
	text-align: center;

}

#second-dolphin{
  padding-left: 5px;
}

.navbar-brand{
  color: white !important;
  font-family: "Rock Salt";
  font-size: 16px;
  padding-top: 5px;
  padding-left: 40px;
}

.nav>li>a {
  color: white !important;
  padding-left: 50px;
  padding-top: 25px;
  font-size: 18px;
  font-family: "Rock Salt";
}

#image
{    
    height: 65px;
    width: auto;
}

/*Auth*/
#login,#signup{
  background-color: #4C5580;
}

.btn-auth{
  font-size: 16px;
}

/*Games*/

#score-text{
  font-family: "Rock Salt"

}

#knowledgeTitle{
  margin-top: 60px;
  font-family: "Permanent Marker";
}

.question{
  margin-top: 60px;
  font-family: "Permanent Marker";
  margin-bottom: 40px;
  text-align: center;
}

label{
  font-size: 25px;
  font-family: "Special Elite"
}

.go-image{
  margin-top: 20px;
  max-width: 170px;
  height: auto;
}

.submit-image{
  margin-top: 20px;
  max-width: 100px;
  height: auto;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  display: inline;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #f00;
}

.correct-text{
  font-size: 16px;
  color: purple;
  font-family: "Rock Salt"
}

.incorrect-text{
  font-size: 18px;
  color: #005300;
  font-family: "Rock Salt"
}

#question-image{
  border: 3px solid white;
  border-radius: 200px;
}

/*About Page*/

#about-header{
  padding-bottom: 20px;
  font-family: "Permanent Marker";
  font-size: 55px;
}

.about-title{
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-text{
  margin-top: 30px;
}

.about-photo{
  width: 275px;
  height: 275px;
  border-radius: 275px;
}

/*Profile Page */

.row{
  margin-top: 30px;
  margin-bottom: 20px;
}

#profile-header{
  font-family: "Permanent Marker";
  font-size: 60px;
  margin-top: 45px;
}

#save-button{
  float: right;
}

#email{
  margin-bottom: 20px;
}

#save-button{
  margin-bottom: 20px;
  padding: 14px 24px;
  background-color: #682628;
  font-size: 16px;
}

#click{
  margin-top: 20px;
}

#change-button{
  margin-top: 20px;
  float: center;
  background-color: #0003DC;
  font-size: 16px;
  padding: 14px 20px;
}

.avatar{
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

/*Headers & Body */

h1, h2{
  font-family: "Rock Salt";
  text-align: center;
}

h3{
  font-family: "Special Elite";
  text-align: center;
  margin-bottom: 20px;
}

body{
  font-size: 18px;
  background-color: #2881E2;
  color: black;
  font-family: "Special Elite"
}

.media-buttons{
  display: none;
}

.media-header{
  display: none;
}

/*Media Queries*/
@media (max-width: 900px) {

  .navbar{
    z-index: 2;
  }

  canvas{
    display: block;
    margin: 0 auto;
  }

  .standard-header{
    display: none
  }

  .media-header{
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
  }  
 
  #overlay-text {
    padding-top: 22px;
    padding-bottom: 0px;
    font-size: 40px;
    font-weight: 500;
  }
  .semi-transparent-button {
  display: none;
  }
  .media-buttons{
    display: block;
  }
  .btn-media{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #0003DC;
    font-family: "Special Elite";
  }
}

